@font-face{
    font-family: "read";
    src: url(PoetsenOne-Regular.ttf);
}



body{
    font-family: "read";
    overflow-x: hidden;
}

/* MENU */

#menu a {
    font-size: 18px;
    font-weight: bold;
    color:#3f3f3f;
}

#menu button{
    font-size: 18px;
    font-weight: bold;
}



.carousel-inner{
    max-height: 40rem;
    
}



@media (max-width:760px){
    #intro #equipo {
        width: 90% !important;
    }

    #equipo  p{
        display: none;
    }

    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }
}

@media (max-width:575px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

.foto{
    padding-top: 10px;
    width: 30%;
    max-width: 1000px;
    min-width: 320px;
}

.mapa{
   margin-left: 5%;
    width: 100%;
    height: 500px;

}

#local{
    background: #f3f3f3;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 50%;
    margin-left: 30px;
    padding-top: 25px;
}

@media (max-width:1200px){
    #local{
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .wrapper{
        width: 90%;
      
        padding-top: 50px;
    }
}

#numero-local div{
    padding:0 20px 0 0;
    height: 48px;
}

#numero-local div:not(:last-child){
    border-right: 2px solid #3f3f3f;
}


#numero-local div:not(:first-child){
    padding-left:20px;
}

#numero-local p{
   margin: 0; 
}

.footer-txt{
    margin-top: 100px;
    border-top: 1px solid #1B293A;
    padding: 20px 0;
}

.footer-txt p{
    color: #f47a7a;
    font-size: 16px;
}

.footer{
    padding: 100px 0 0 0 ;
    text-align: center;
}

.texto{
    color: grey;
    font-size: 15px;
}

.btn-2{
    margin-bottom: 5px;
    background-color: #518b97;
    border-style: none;
    border-radius: 5px;
    color:aliceblue;
}

.formulario{
    margin-bottom: 10px;
    border-style:none;
    border-radius: 5px;
    color: grey;
}

.navbar{
    background-color: aliceblue;
    text-align: center;
}

.container{
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}

img{
    width: 10%;
}

#inicio{
    margin-left: 15%;
}

.caracteristicas{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    
}

.boton1{
    width: max-content;
    border-style: none;
    margin-top: 10px;
    color:darkred;
    text-decoration: none;
}

.clase{
    margin-top: 30px;
}

.scroll-top-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 15px 20px;
    border-radius: 10%;
    cursor: pointer;
    font-size: 1.2em;
    width: 7%;
}

/* Animación suave de desplazamiento */
html {
  scroll-behavior: smooth;
}

